# Dependency directories
node_modules/
client/node_modules/
server/node_modules/

# Environment variables (Crucial for security!)
.env
server/.env
client/.env

# Build directories
client/build/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db